.background {
  background-color: rgb(0, 0, 0);
}

.logo {
  background-image: url(https://srgssr.github.io/SRGMediaPlayer-Android/art/logo/kids.png);
}

.progressBar {
  background-color: rgb(98, 255, 171);
}

.splash {
  background-image: url(https://srgssr.github.io/SRGMediaPlayer-Android/art/splash/kids.png);
}

.watermark {
  background-image: url(https://srgssr.github.io/SRGMediaPlayer-Android/art/watermark/kids.png);
  background-size: 57px 57px;
}
