.background {
  background-color: rgb(0, 0, 0);
}

.logo {
  background-image: url(https://srgssr.github.io/SRGMediaPlayer-Android/art/logo/sport.png);
}

.progressBar {
  background-color: rgb(255, 0, 0);
}

.splash {
  background-image: url(https://srgssr.github.io/SRGMediaPlayer-Android/art/splash/sport.png);
}

.watermark {
  background-image: url(https://srgssr.github.io/SRGMediaPlayer-Android/art/watermark/sport.png);
  background-size: 57px 57px;
}
