# Gradle files
.gradle/
build/

# OS related files
.DS_Store

# Local configuration file (sdk path, etc)
local.properties

### Intellij ###

## File-based project format
*.ipr
*.iml
*.iws

.idea/workspace.xml
.idea/libraries
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/scopes/scope_settings.xml
