.background {
  background: center no-repeat url(https://www.rts.ch/2017/04/11/16/17/7069749.image/16x9/scale/width/1200);
}

.logo {
  background-image: url(https://www.rts.ch/2017/04/11/16/17/7069749.image/16x9/scale/width/200);
}

.progressBar {
  background-color: rgb(255, 0, 0);
}

.splash {
  background-image: url(https://www.rts.ch/2017/04/11/16/17/7069749.image/16x9/scale/width/200);
}

.watermark {
  background-image: url(https://www.rts.ch/2017/04/11/16/17/7069749.image/16x9/scale/width/200);
  background-size: 57px 57px;
}
