<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.srg.mediaplayer.service">

    <!-- The following permissions are only necessary for tests. It would be necessary to get read of
      them if someone wanted to build an app with the service that does not acccess the internet... -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application android:allowBackup="true">
        <service android:exported="false"
            android:name=".MediaPlayerService"/>
        <receiver android:name=".AudioIntentReceiver">
            <intent-filter>
                <!-- TODO: this event should be listened to in a dynamic way (ie. only when playing sound), not from here as it starts the service just for that -->
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
